SAT Java/SAT/cfe/schemas/CFeStatus/XSD/CfeStatus_0006ER2114_V1.1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="consStat">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tpAmb" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="^\d$"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="cUF" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="^\d{2}$"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="xServ"  minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="nSeg" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="344"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="dhEnvio" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="^\d{14}$"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="nserieSAT" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="^\d{9}$"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="status" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tipoLan" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="8"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="lanIP"  minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:length value="15"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="lanMAC"   minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:length value="17"/>

                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="lanMASK"  minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:length value="15"/>

                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="lanGW"  minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:length value="15"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="lanDNS1"  minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:length value="15"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="lanDNS2"  minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:length value="15"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="statLan"  minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="16"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="nBat" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="8"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="mtTotal" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="255"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="mtUsada" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="255"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="datahora"  minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="^\d{14}$"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="verSoft"  minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="^\d{1,2}\.\d{1,2}\.\d{1,2}$"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="verLay"  minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="^\d{1,2}\.\d{1,2}$"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ultimoCFe"  minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="^\d{44}$"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="listaInicial"  minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="^\d{44}$"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="listafinal"  minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="^\d{44}$"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="dhTransmissao" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="^\d{14}$"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="dhComunicacao" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="^\d{14}$"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="CERT_EMISSAO" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="^\d{8}$"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="CERT_VENCIMENTO" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="^\d{8}$"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ESTADO_OPERACAO" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="^\d$"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="versao" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="^\d{1,2}[.]{1}[0-9]{2}$"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>