SAT Java/SAT/cfe/schemas/CFeCertificacao/XSD/CfeCertificacao_0006ER2114_V1.1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="certifica">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tpAmb" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="^\d$"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="cUF" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="^\d{2}$"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="opt"  minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="3"/>
              <xs:maxLength value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:choice>
          <xs:element name="CRT" maxOccurs="1" minOccurs="0" >
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="CSR" maxOccurs="1" minOccurs="0" >
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:choice>
        <xs:element name="nSeg" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="344"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="dhEnvio" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="^\d{14}$"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="nserieSAT" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="^\d{9}$"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>        
      </xs:sequence>
      <xs:attribute name="versao" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="^\d{1,2}[.]{1}[0-9]{2}$"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>