SAT Java/SAT/cfe/schemas/CFeParametrizacao/XSD/CfeParametrizacao_0004ER2114_V1.1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:element name="consParam">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tpAmb" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="^\d$"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="cUF" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="^\d{2}$"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="nSeg" maxOccurs="1" minOccurs="1" >
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1"/>
              <xs:maxLength value="344"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="dhEnvio" maxOccurs="1" minOccurs="1" >
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:length value="14" />
              <xs:pattern value="\d{14}" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="nserieSAT" minOccurs="1" maxOccurs="1" >
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:length value="9" />
              <xs:pattern value="\d{9}" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="versao" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="^\d{1,2}[.]{1}[0-9]{2}$"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:anyAttribute namespace="##targetNamespace" processContents="skip" />
    </xs:complexType>
  </xs:element>
</xs:schema>